body {
    background-color: #f5f5f5	;
	margin-left:10%;
    margin-right:10%;
}


h1 {
    font-family: Stencil Std;
    font-style: normal;
    font-size: 2.5em;
    font-weight: bold;
    color: #7b68ee;
    text-align: left;
}

h2 {
    font-family: Apple Chancery, cursive;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: justify;
}

a {

}

ul {
    
}

li{
    
}

img {
    display:block;
	margin:auto;
  padding: 2%;
  width:90%
  
}

.cadre{
  border: thick double #7b68ee;
  padding:1%

}

#couleur{
 color: #7b68ee;}