img {display:block;
	margin:auto;
  padding:1cm;
  width:30%;
}
    
   
  h1 {
 font-family: Comic Sans MS;
    font-style: italic; 
    font-size: 2.5em;
    font-weight: bold;
    color: dodgerblue;
    text-align: center;
}
  h4 { 
   font-family: Apple Chancery, cursive;
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
    color: royalblue;
    text-align: left;
}
 h3 { 
   font-family: Apple Chancery, cursive;
    font-style: normal;
    font-size: 1em;
    font-weight: bold;
    color: royalblue;
    text-align: left;
}
 h2 { 
   font-family: Apple Chancery, cursive;
    font-style: normal;
    font-size: 1em;
    font-weight: bold;
    color: royalblue;
    text-align: left;
}