body {
    background-color: lightpink;
	margin-left:10%;
    margin-right:10%;
}


h1 {
    font-family: line-through;
    font-style: normal;
    font-size: 2.5em;
    font-weight: normal;
    color: white;
    text-align: center;
}

h2 {
    font-family:bolder;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 1.1em;
    font-weight: normal;
    color: black;
    text-align: left;
}

a {

}

ul {
    
}

li{
    
}

img {
    display:block;
	margin:auto;
}