body {
    background-color:lightpink;
	margin-left:10%;
    margin-right:10%;
}


h1 {
    font-family:Arial ;
    font-style: normal;
    font-size: 2.5em;
    font-weight: bold;
    color: hotpink;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: indianred;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: justify;
}

a {

}

ul {
    
}

li{
    
}

img {
    display:block;
	margin:auto;
}