body {
    background-color: silver;
	margin-left:10%;
    margin-right:10%;
}


h1 {
    font-family: Comic Sans MS;
    font-style: normal;
    font-size: 2.5em;
    font-weight: bold;
    color: blue;
    text-align: center;
}

h2 {
    font-family: Apple Chancery, cursive;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: navy;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: justify;
}

a {

}

ul {
    
}

li{
    
}

img {
    display:block;
	margin:auto;
    width:70%
}