body {
    background-color: pink;
	margin-left:10%;
    margin-right:10%;
}


h1 {font-family: Amiri Quran; 
    font-style: normal;
    font-size: 3.2em;
    font-weight: bold;
    color:black;
    text-align: center;
}


h2 {
    font-family: Linux Libertine G; 
    font-style: normal;
    font-size: 1.4em;
    font-weight: bold;
    color:black;
    text-align: left;
    text-decoration: underline;
}

h3 {
    font-family: Linux Libertine G; 
    font-style: normal;
    font-size: 1.4em;
    font-weight: bold;
    color:black;
    text-align: left;
    text-decoration: underline;
}

p {
    font-family: georgia;
    font-style: normal;
    font-size: 1.001em;
    font-weight: normal;
    color: black;
    text-align: justify;
}

a {

}

ul {
    
}

li{
  font-family: Caladea;
    font-style: italic;
    font-size: 1em;
    font-weight: bold;
    color: black;
    
    
}

img {
    display:block;
	margin:auto;
    width: 40%
}