body {
    background-color: white;
	margin-left:10%;
    margin-right:10%;
}


h1 {
    font-family: Comic Sans MS;
    font-style: italic;
    font-size: 2.5em;
    font-weight: normal;
    color: navy;

    text-align:center;
}

h2 {
    font-family: Arrial, s;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: navy;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: left;
}

a {

}

ul {
    
}

li{
    
}

img {
    display:block;
	margin:auto;
}