body {
    background-color:Seashell;
	margin-left:10%;
    margin-right:10%;
}


h1 {
    font-family: serif;
    font-style: italic;
    font-size:  3.5em;
    font-weight: normal;
    color:black;
    text-align: center;
    color : black;
}

h2 {
    font-family: absolute, cursive;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: skyblue;
    text-align: center;
}

p {
    font-family: serif;
    font-style: darkgray;
    font-size: 1em;
    font-weight: normal;
    color: black;
    text-align: justify;
}

h3 { font-family: absolute, cursive;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: skyblue;
    text-align: left;

}
h4 { font-family: absolute, cursive;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    color: skyblue;
    text-align: left;
    
}
h5 {
    font-family: absolute,cursive;
    font-style: normal;
    font-size: 1;5em;
    font-weight: normal;
    color: black;
    text-align: center;
}


img {
    display:block;
	margin:auto;
    padding:0.5cm;
  width:70%
}