body {
    background-color:white;
	margin-left:15%;
    margin-right:15%;
}


h1 {
    font-family: Comic Sans MS;
    font-style: oblique 40deg ;
    font-size: 4 em;
    font-weight:500;
    color:#556B2F;
    text-align: center;
}

h2 {
    font-family: Apple Chancery, cursive;
    font-style:  normal;
    font-size: 1.5em;
    font-weight:lighter;
    color:#8FBC8F;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight:  normal;
    color:#00008B;
    text-align: justify;
}

a {

}

ul {
    
}

li{
    
}

img {
 height: 250px;
  width: 250px;  
  image-rendering: auto ;
    display:block;
	margin:auto;
}