body {
background-color: beige;
margin-left:10%;
margin-right:10%;
}

h1 {
font-family:impact;
font-style: normal;
font-size: 5em;
font-weight: bold;
color: maroon;
text-align: center;
}

h2 {
font-style: normal;
font-size: 2em;
font-weight: bold;
color: maroon;
text-align:;
}
}
h3 {
font-style: normal;
font-size: 2em;
font-weight: bold;
color: maroon;
text-align:;
}

p {
font-family: Noto Serif Georgian;
font-style: normal;
font-size: 1em;
font-weight: normal;
color: maroon;
text-align: justify;
}

img {

margin:auto;
width:30%
}