body {
    color: #16423C;
    background-color: #E9EFEC;
    margin-left: 10%;
    margin-right:10%;
}


h1 {
    font-family: arial, cursive;
    font-style: normal;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;

}

x .etiquette {
    padding: 3px;
    margin: 5px;
    font-family: arial;
}

.groupe-emplacement {
    display: flex;
}

.emplacement {
    display: inline-block;
    color: white;
    margin-right: 15px;
    background-color: #16423C;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: arial;
}


h2 {
    font-family: arial, cursive;
    font-style: normal;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;


}

p {
    font-family: arial, cursive;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    text-indent: 1.5cm;
    color: #6A9C89;

}

a {
    font-family: arial, cursive;
    font-style: normal;
    font-size: 2.em;
    font-weight: bold;
    text-align: left;
    color: #6A9C89;

}

td {
    font-family: arial, cursive;
    text-indent: 1cm;
    padding: 0.5cm;
}

#sommaire {
    color: white;
    margin-left: 60%;
    background-color: #16423C;
    padding: 5px 10px;
    border-radius: 5px;
}

.image,
img {
    display: block;
    margin: auto;
    float: left;
}

img {
    border: 5px solid white;
    margin: 10px;
    border-radius: 5px 
}