body {
    background-color:pink;
	margin-left:10%;
    margin-right:10%;
}


h1 {
    font-family:Comic Sans MS;
    font-style: normal;
    font-size: 2em;
    font-weight: bold;
    color: darkorange;
    text-align: center;
}

h2 {
    font-family:Arial ;
    font-style: normal;
    font-size: 1;
    font-weight: bold;
    color:orangered;
    text-align: left;
}

p {
    font-family: serif;
    font-style: normal;
    font-size: 2em;
    font-weight:normal
    color:black;
    text-align: center;
}

a {

}

ul {
    
}

li{
    
}

img {
    display:block;
	margin:auto;
    width:70%
}