body {
    background-color: #F5F5F5
    margin-left:10%;
    margin-right:10%;
}
  h1 {
      text-align: center;
    color: black
  }

p {
    font-family: serif;
    font-size: 1.2em;
    color: black;
    text-align: justify;
}
h2 {
    font-family: Apple Chancery, cursive;
    font-style: normal;
    font-size: 1.25em;
    font-weight: italic;
    color: graytext;
    text-align: left;}
  h3 {
    font-family: Apple Chancery, cursive;
    font-style: normal;
    font-size: 1.2em;
    font-weight: italic;
    color: graytext;
    text-align: left;}


img {
    display:block;
	margin:auto;
    width:60%;

}