body {
    background-color:#8fbc8f;
	margin-left:10%;
    margin-right:10%;    
}


h1 {
    font-family:helvetica;
    font-style: italic;
    font-size: 3em;
    font-weight: bolb;
    color:#2f4f4f;
    text-align:center;
  
}

h2 {
    font-family: Apple Chancery, cursive;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
    color:#2f4f4f;
    text-align: left;
}
h3{
font-family: Apple Chancery, cursive;
    font-style: italic;
    font-size: 1,5em;
    font-weight: bolb;
    color:#008080	;
    text-align: left;
  
}
    

p {
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    color: backwards;
    text-align: justify;

}

a {

}

ul {
    
}

li{
    
}

img {
    display:center;
	margin:auto;
  width:50%

}