body {
    background-color:rosybrown;
	margin-left:5%;
  margin-right:5%;
}


h1 {
    font-family: constantina ;
    font-style: bold;
    font-size: 2.5em;
    font-weight: normal;
    color:mistyrose;
    text-align: center;
}
    
h2 {
    font-family: Apple Chancery, cursive;
    font-style: normal;
    font-size: 1.5em;
    font-weight:normal;
    color: mistyrose;
    text-align: center;
  
}

p {
  
    font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight:normal;
    color:black;
    text-align: justify;

  text-indent: 1cm
}

ol {
  font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight:normal;
    color:black;
   height:2cm
}

a {
  font-family: serif;
    font-style: normal;
    font-size: 1em;
    font-weight:normal;
    color:black;
    text-align: center;
   height:2cm

}


img {
    display:block;
	margin:auto;
  width:70%
}

#sommaire{
  color:black;
  margin-left:60%;
}